In [14]:
import pandas as pd

In [22]:
df = pd.read_csv('Ver_2_CS170_Fall_2021_Small_data__65.txt', header=None, delim_whitespace=True)

In [50]:
# https://www.geeksforgeeks.org/range-to-a-list-in-python/
col_nums = [*range(df.shape[1])][:-1]
# https://stackoverflow.com/questions/9304408/how-to-add-an-integer-to-each-element-in-a-list
cols = ['Label'] + list(map(lambda x:x+1, col_nums))
# df.rename_axis("label", axis="columns", inplace=True)
df.columns = cols
print(col_nums)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
df

,Label,1,2,3,4,5,6,7,8,9,10
0,2.0,-0.805988,-0.585172,0.899899,0.170048,0.756696,1.873077,-1.971409,-0.060586,1.200292,-0.014895
1,2.0,0.837257,0.509825,2.959387,1.564628,-0.781470,0.018665,-0.663480,-1.030315,-0.054857,0.786907
2,2.0,-2.536966,0.335584,0.720300,-1.430438,1.552382,-1.223963,-0.576467,-1.278365,-2.455410,-1.444129
3,1.0,-0.003614,-0.232139,-0.994590,-0.158266,-1.257421,-1.600183,0.068806,0.030923,1.005924,0.031007
4,2.0,-1.494025,0.362126,-0.397800,-0.129252,-0.236317,-1.146963,0.580453,-1.344598,0.793668,0.206843
...,...,...,...,...,...,...,...,...,...,...,...
495,2.0,-0.582356,0.608513,-1.432924,0.092739,1.412251,-0.507934,-0.799791,-1.221746,-0.529971,0.271125
496,2.0,1.641784,0.128033,1.703390,-0.810346,-1.155715,0.510755,1.133296,1.153871,-0.349869,0.438893
497,2.0,-1.338527,0.881240,-0.172616,-1.015675,-0.065927,1.552395,-0.159199,0.606868,-1.093864,-0.944266
498,2.0,-0.454905,0.795664,-0.597826,-0.990266,-1.245861,-0.896151,0.416746,-1.315026,0.543026,1.535185
499,2.0,-1.823528,-0.761841,1.951263,-2.062130,0.207490,0.031163,0.635455,-0.122241,-0.815559,-0.713249

In [52]:
df.columns

Index(['Label', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='object')

In [53]:
def get_cols(df: pd.DataFrame, cols:list):
    return df[["Label"] + cols]

In [54]:
get_cols(df, [2, 3, 4])

     Label         2         3         4
0      2.0 -0.585172  0.899899  0.170048
1      2.0  0.509825  2.959387  1.564628
2      2.0  0.335584  0.720300 -1.430438
3      1.0 -0.232139 -0.994590 -0.158266
4      2.0  0.362126 -0.397800 -0.129252
..     ...       ...       ...       ...
495    2.0  0.608513 -1.432924  0.092739
496    2.0  0.128033  1.703390 -0.810346
497    2.0  0.881240 -0.172616 -1.015675
498    2.0  0.795664 -0.597826 -0.990266
499    2.0 -0.761841  1.951263 -2.062130

[500 rows x 4 columns]

In [56]:
df.shape[0]

500

In [94]:
(df.iloc[[2]].drop(['Label'], axis=1) ** 2)

,1,2,3,4,5,6,7,8,9,10
2,6.436197,0.112616,0.518832,2.046154,2.409891,1.498086,0.332314,1.634216,6.029037,2.08551

In [84]:
df.iloc[1]['Label']

2.0

In [85]:
float('inf')

inf

In [120]:


x = df.iloc[1][1:]
((df.iloc[2][1:] - x) ** 2).sum()

43.19994762425512

In [106]:
df1 = pd.DataFrame([(1,2),(3,4),(5,6)], columns=['a','b'])

df2 = pd.DataFrame([(100,200),(300,400),(500,600)], columns=['a','b'])

df_add = df1.add(df2, fill_value=0)

In [110]:
df1

   a  b
0  1  2
1  3  4
2  5  6

In [121]:
df

,Label,1,2,3,4,5,6,7,8,9,10
0,2.0,-0.805988,-0.585172,0.899899,0.170048,0.756696,1.873077,-1.971409,-0.060586,1.200292,-0.014895
1,2.0,0.837257,0.509825,2.959387,1.564628,-0.781470,0.018665,-0.663480,-1.030315,-0.054857,0.786907
2,2.0,-2.536966,0.335584,0.720300,-1.430438,1.552382,-1.223963,-0.576467,-1.278365,-2.455410,-1.444129
3,1.0,-0.003614,-0.232139,-0.994590,-0.158266,-1.257421,-1.600183,0.068806,0.030923,1.005924,0.031007
4,2.0,-1.494025,0.362126,-0.397800,-0.129252,-0.236317,-1.146963,0.580453,-1.344598,0.793668,0.206843
...,...,...,...,...,...,...,...,...,...,...,...
495,2.0,-0.582356,0.608513,-1.432924,0.092739,1.412251,-0.507934,-0.799791,-1.221746,-0.529971,0.271125
496,2.0,1.641784,0.128033,1.703390,-0.810346,-1.155715,0.510755,1.133296,1.153871,-0.349869,0.438893
497,2.0,-1.338527,0.881240,-0.172616,-1.015675,-0.065927,1.552395,-0.159199,0.606868,-1.093864,-0.944266
498,2.0,-0.454905,0.795664,-0.597826,-0.990266,-1.245861,-0.896151,0.416746,-1.315026,0.543026,1.535185
499,2.0,-1.823528,-0.761841,1.951263,-2.062130,0.207490,0.031163,0.635455,-0.122241,-0.815559,-0.713249

In [142]:
x = set()
x.add(5)
print(x)
df[x]

{5}

            5
0    0.756696
1   -0.781470
2    1.552382
3   -1.257421
4   -0.236317
..        ...
495  1.412251
496 -1.155715
497 -0.065927
498 -1.245861
499  0.207490

[500 rows x 1 columns]

In [141]:
x = set([])
x.add(1)
x

{1}

In [155]:
new_set = {3, 4, 5}
new_set.add(2)
new_df = df['Label', new_set]
new_df

TypeError: '('Label', {2, 3, 4, 5})' is an invalid key

In [154]:
new_df.loc[0][:-1]

2   -0.585172
3    0.899899
4    0.170048
5    0.756696
Name: 0, dtype: float64

In [150]:
df

,Label,1,2,3,4,5,6,7,8,9,10
0,2.0,-0.805988,-0.585172,0.899899,0.170048,0.756696,1.873077,-1.971409,-0.060586,1.200292,-0.014895
1,2.0,0.837257,0.509825,2.959387,1.564628,-0.781470,0.018665,-0.663480,-1.030315,-0.054857,0.786907
2,2.0,-2.536966,0.335584,0.720300,-1.430438,1.552382,-1.223963,-0.576467,-1.278365,-2.455410,-1.444129
3,1.0,-0.003614,-0.232139,-0.994590,-0.158266,-1.257421,-1.600183,0.068806,0.030923,1.005924,0.031007
4,2.0,-1.494025,0.362126,-0.397800,-0.129252,-0.236317,-1.146963,0.580453,-1.344598,0.793668,0.206843
...,...,...,...,...,...,...,...,...,...,...,...
495,2.0,-0.582356,0.608513,-1.432924,0.092739,1.412251,-0.507934,-0.799791,-1.221746,-0.529971,0.271125
496,2.0,1.641784,0.128033,1.703390,-0.810346,-1.155715,0.510755,1.133296,1.153871,-0.349869,0.438893
497,2.0,-1.338527,0.881240,-0.172616,-1.015675,-0.065927,1.552395,-0.159199,0.606868,-1.093864,-0.944266
498,2.0,-0.454905,0.795664,-0.597826,-0.990266,-1.245861,-0.896151,0.416746,-1.315026,0.543026,1.535185
499,2.0,-1.823528,-0.761841,1.951263,-2.062130,0.207490,0.031163,0.635455,-0.122241,-0.815559,-0.713249